.ad-banner {
    height: 450px;
    color: whitesmoke;
    text-align: center;
}

.ad-banner h1{
    color:  #ff7a59;
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
}

.ad-banner h3{
    color: whitesmoke;
    font-size: 36px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:10px;
    padding-bottom: 10px;
}

.banner-btn {
    background-color: rgb(35, 159, 146);
    font-size: 30px;
    padding: 15px;
    color: whitesmoke;
    border-radius: 5px;
}