form input {
    font-size: 25px;
}
.submit-new-recipe {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    /* padding: 20px; */
    width: 50%;
    margin: 0 auto;
   
}
h1{
    font-size: 48px;
    text-align: center;
}
.name-image {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.name-image input {
    width: 310px;
}
.radio-buttons {
    display: flex;
    justify-content: space-evenly;
}
.prep-cook-serves {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.prep-cook-serves input {
    width: 200px;
}
.ingredients-quantity {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.buttons-instructions{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}
.orange{
    background-color: rgb(189, 87, 50);
    width: 150px;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    
}
.text-instructions{
    width: 400px;
    font-size: 20px;
}
.blue {
    background-color: darkcyan;
    width: 150px;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-top: 15px;
}